.homeCatalog {
  background-color: beige;
}
.homeCatalog div {
  display: flex;
  height: 10rem;
  width: 14rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  align-items: flex-end;
}

.homeCatalog div p {
  margin-left: 1rem;
  margin-bottom: 1rem;
}


