@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.rings {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.rings i {
  position: absolute;
  inset: 0;
  border: 2px solid #000; /* Change border color to black */
  transition: 0.5s;
}
.rings i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}
.rings i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}
.rings i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
.rings:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.main-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 10%;
  overflow: hidden;
}
.login {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.login h2 {
  font-size: 2em;
  color: #000; /* Change text color to black */
}
.login .inputBx {
  position: relative;
  width: 100%;
}
.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #000; /* Change border color to black */
  border-radius: 40px;
  font-size: 1.2em;
  color: #000; /* Change text color to black */
  box-shadow: none;
  outline: none;
}
.login .inputBx input[type="submit"] {
  width: 100%;
  background: #020202;
  background: linear-gradient(45deg, #dd58c9, #531583);
  border: none;
  cursor: pointer;
}
.login .inputBx input::placeholder {
  color: rgba(0, 0, 0, 0.75); /* Change placeholder color to black */
}
.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login .links a {
  color: #000; /* Change link color to black */
  text-decoration: none;
}
